<div style="cursor: pointer" id="news-group" (click)="openShareModal()"
     role="button" class="bg-grey card h-100 align-items-center align-content-center align-items-stretch pr-0">
  <div class="card-body align-items-center">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-3 v-center pr-md-0">
        <img src={{news.urlToImage}} alt="News Image" class="card-img w-100 m-auto">
      </div>

      <div class="col-sm-12 col-md-9 pr-md-0">
        <div class="card-title text-left">
          <p>{{news.title}}</p>
        </div>
      </div>

    </div>
  </div>
</div>
